@{
    ViewData["Title"] = "Consulta Fipe";
}

<div>
    <div class="row height d-flex justify-content-center align-items-center" style="margin-top:30px !important">
        <div class="form-group col-md-2">
            <div class="input-group p-1 shadow-sm">
                <input type="search" placeholder="Código Fipe" id="fipeCodeSearch" style="border-radius: 30rem !important;" class="form-control py-2 px-2" />
            </div>
        </div>
        <div class="form-group col-md-2">
            <div class="date input-group p-1 shadow-sm">
                <input type="text" placeholder="Ano" class="form-control py-2 px-2" id="modelYear">
                <div class="input-group-append"><span class="input-group-text py-3 px-3"><i class="fa fa-clock-o"></i></span></div>
            </div>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-primary" onclick="consultaPrecosFipe()">
                <i class="fa fa-search"></i>
            </button>
        </div>
    </div>

    <div class="row height d-flex justify-content-center align-items-center" style="margin-top:50px !important">
        <div hidden id="alertSearch" class="alert alert-success alert-dismissible fade show col-xxl-4 col-md-6" role="alert">
            <p id="alertSearchMessage">A simple success alert—check it out!</p>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>

    <div class="row" style="margin-top:50px !important">
        <div class="col-md-6">
            <div class="row">
                <img id="carPhoto" src="" class="img-fluid" />
            </div>
            <div class="col-sm-6 offset-sm-3">
                <button type="button" class="btn btn-danger btn-block" id="addPhoto" onclick="document.getElementById('inputFile').click()" hidden>Adicionar Foto</button>
                <div class="form-group inputDnD" hidden>
                    <label class="sr-only" for="inputFile">File Upload</label>
                    <input type="file" class="form-control-file text-danger font-weight-bold" id="inputFile" accept="image/*" onchange="buscarImagem(this)" data-title="Drag and drop a file">
                </div>
            </div>
        </div>
        <div class="col-md-6 text-center">
            <div class="row height d-flex justify-content-center align-items-center">
                <div class="col-xxl-4 col-md-6">
                    <div class="card info-card sales-card">
                        <div class="card-body">
                            <h5 class="card-title">Preço<span>| Mês Atual</span></h5>
                            <div class="align-items-center">
                                <div class="ps-3">
                                    <h6 id="valorMesAtual"></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-4 col-md-6">
                    <div class="card info-card revenue-card">
                        <div class="card-body">
                            <h5 class="card-title">Preço Médio <span>| Último Ano</span></h5>
                            <div class="align-items-center">
                                <div class="ps-3">
                                    <h6 id="valorPrecoMedio"></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Variação Mensal Preço</h5>
                            <div id="areaChart"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
